<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snippet.name %>
</p>

<p>
  <strong>Eval:</strong>
  <%= @snippet.eval %>
</p>

<p>
  <strong>Code:</strong>
  <%= @snippet.code %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @snippet.hide %>
</p>

<p>
  <strong>Example:</strong>
  <%= @snippet.example %>
</p>

<p>
  <strong>Language:</strong>
  <%= @snippet.language %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
